<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>
    Unladen Follow - Twitter analyzer and unfollow helper
  </title>

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.js"></script>

  <script src="/javascripts/application.js"></script>
  <meta name="viewport" content="width=550, maximum-scale=1.0">
  <style type="text/css">
  	@import url("/stylesheets/style.css");
  </style>

	<meta content="Unladen Follow is a Twitter unfollow recommender. It scans the people you follow, and tells you whose tweets are clogging your timeline." name="description" /> 
  
</head>
<body>
<span id="oneforty.i.2454"  > </span>
<div id='spacing'>
<div id='page'>

    <div id='header'>
        <a href='/'><img src="/images/unladen_logo.png" /></a>
    </div>

    <div id='content'>
    	<h1><%- body %></h1>
    </div>

    <div id='footer'>

    <a href='/'>Home</a> - <a href='/about/'>Learn More</a> - <a href='/anatomy/'>Anatomy</a>
    <% if (isLoggedIn) { %>
        - <a href='/logout/'>Log Out</a>
    <% } %><br>
    Brought to you by <a href='http://www.twitter.com/apike/'>@apike</a> of <a href='http://www.steamclock.com/'>Steamclock Software</a>.
    </div>

</div>
</div>

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-585700-3");
pageTracker._trackPageview();
} catch(err) {}</script>

</body>
</html>