<% layout('_layout') -%>

<h1>Too many tweets?</h1>
<p>Cut the noise so you can appreciate the signal.</p>
<p>Unladen Follow shows you whose tweets are clogging your timeline. It does <b>not</b> unfollow anybody automatically.</p>


<p id='birds'><img src="/images/bird2bird.png"></p>

<% include _choices.ejs %>
