<% layout('_layout') -%>

<h1><img src="/images/heaviest_headline.png"/></h1>

<div id='loading'>
    <span id='progress'></span>
    <img src="/images/loader.gif" id="loader">
</div>

<div id='results' class='scan'>
    <p>You are laden with <b id='total_cost'>-</b> Tweet Load Units per week.<br>
    This is equivalent to following Robert Scoble <b id='scoble_times'>-</b> times.<br>
    <a href="/about/">Learn more about Unladen Follow</a>.</p>
    
    <form id="simulate_form" onsubmit="return Unladen.go_simulate();">
        What if I followed <input id="simulate"> ? <img src="/images/loader.gif" id="simulate_spinner">
        <p id="simulate_error"></p>
    </form>
    
    <div id='scan_wrapper'>
    </div>
    
    <p id="show_all"><a href="javascript:;" onclick="Unladen.show_all();">Show everybody else</a>.</p>
    
    <p>Numbers estimated from <b id="weeks_of_data">-</b> weeks of data.<br>
        For more accuracy, unfollow some and run again, or click through to a user's detail page.</p>
</div>


<script>
    // This could be improved.
    Unladen.get_tweets();
    // This is a medium change.
</script>