<% layout('_layout') -%>

<h2>Tweet Load for <%= user %></h2>

<div id='results' class='single'>
    <div id='tlu'><img src="/images/loader.gif" id="loader"></div>

    <p id='link'>&nbsp;</p>

    <table id='single_results'>
        <tr>
            <td><img src="/images/icons/count.png"></td>
            <td>Quantity</td>
            <td id='volume'>-</td>
            <td id='breeze'>Breeze</td>
        </tr>
        <tr>
            <td><img src="/images/icons/hashes.png"></td>
            <td>Hashtags</td>
            <td id='hashes'>-</td>
            <td id='wind'>Wind</td>
        </tr>
        <tr>
            <td><img src="/images/icons/links.png"></td>
            <td>Links</td>
            <td id='links'>-</td>
            <td id='gale'>Gale</td>
        </tr>
        <tr>
            <td><img src="/images/icons/mentions.png"></td>
            <td>Mentions</td>
            <td id='mentions'>-</td>
            <td id='storm'>Storm</td>
        </tr>
        <tr>
            <td><img src="/images/icons/meta.png"></td>
            <td>Metadiscussion</td>
            <td id='meta'>-</td>
            <td id='hurricane'>Hurricane</td>
        </tr>
    </table>
    
    <p id='weeks'><br></p>
</div>

<br><br>

<% include _choices.ejs %>

<script>
    Unladen.go_single("<%= user %>");
</script>