<h1><%= image_tag "about_headline.png" %></h1>

<h2>Why?</h2>
<p>Unladen Follow is based on the assumption that you actually read your tweets. If catching up on Twitter is taking a lot of time, or you're not able to catch up at all, unfollowing a couple select noisy people can make a huge difference.</p>

<h2>How does it work?</h2>
<p>Unladen Follow reads your tweet timeline, and analyzes each user's tweet frequency and content. It looks to measure cognitive load: how much time and thought it takes to read those tweets.</p>

<h2>What is a Weekly Tweet Load Unit?</h2>
<p>Each person you follow is rated in highly scientific Weekly Tweet Load Units (TLU). Your total TLUs are an indicator of how much noise you consume on Twitter every week, based on links, replies, hashtags, talking about Twitter itself, and simple tweet volume. If you favourite a tweet, it reduces the writer's TLU. Very roughly, a TLU takes one second to process, meaning consuming 1661 TLU costs you one day per year of reading Twitter.</p>

<h2>Who is Robert Scoble?</h2>
<p>Robert Scoble is a tech celebrity who posts a ridiculous amount of stuff on Twitter. Inspired by <a href='http://followcost.com/about/milliscoble'>Follow Cost's metric of milliscobles</a>, Unladen Follow relates your Tweet Load in terms of how many times over you could follow Scoble (which presumably you would not want to do.) On December 31, 2009, <a href='/u/scobleizer'>@scobleizer</a> was averaging 446 TLU, which is used in this calculation.</p>

<h2>Why do the numbers in the table not show what I expect?</h2>
<p>The numbers in the details table for links, hashtags, etc. are not simple quantities. They have been weighted, normalized to one week, and then rounded to the nearest whole value.</p>


<h2>What inspired this?</h2>
<p>The first seed was planted by "Twitter Rank" sites that rank you based on how many @mentions, retweets, and other noisy activities you engaged in. I found myself wanting the opposite of these. The second seed was <a href='http://www.followcost.com/'>Follow Cost</a>, which I liked, but thought could use improved metrics and the ability to apply to my existing followers.
    
<h2>How can I contact you?</h2>
<p>I'd be happy to hear from you! You can tweet @apike, or you can use <a href='http://www.antipode.ca/contact/'>this contact form</a>.</p>