<div id='signin'>
    <% if (session[:oauth_token]) %>
        <a style='float: right' href='/scan/'>Analyze Now</a>
    <% else %> 
        <a style='float: right' href='/default/login/'><%= image_tag "twitter_sign_in.png" %></a>
    <% end %>

    Analyze your followees:
</div>

<p style='text-align: center; margin: 5px'><i>~or~</i></p>

<div id='signin'><form style='display: inline;float: right' onsubmit='return Unladen.user_jump();'><input type='text' id='jumpto' ></form>Analyze one Twitterer: </div>